/aula1/
/aula2/
/trabalho/training.1600000.processed.noemoticon.csv
/trabalho/training.1600000.processed.noemoticon.csv.zip
/trabalho/.ipynb_checkpoints/
/trabalho/best_model.h5
*/*best_model.h5
/best_model.h5

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/