[Desktop Entry]
Icon=text-html
Name=https://machinelearningmastery.com/develop-word-embeddings-python-gensim/
Type=Link
URL[$e]=https://machinelearningmastery.com/develop-word-embeddings-python-gensim/
