[Desktop Entry]
Icon=text-html
Name=https://julien-vitay.net/deeprl/Valuebased.html
Type=Link
URL[$e]=https://julien-vitay.net/deeprl/Valuebased.html
