[Desktop Entry]
Icon=text-html
Name=https://maxwell.ict.griffith.edu.au/spl/publications/papers/ieeesp97_schuster.pdf
Type=Link
URL[$e]=https://maxwell.ict.griffith.edu.au/spl/publications/papers/ieeesp97_schuster.pdf
